<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.training.online_pharmacy.controller.Controller</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <jsp-file>/WEB-INF/pages/main.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ReestablishAccount</servlet-name>
        <jsp-file>/WEB-INF/pages/ReestablishAccount.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>requests</servlet-name>
        <jsp-file>/WEB-INF/pages/requests.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>requests</servlet-name>
        <url-pattern>/requests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReestablishAccount</servlet-name>
        <url-pattern>/reestablish</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>prescriptions</servlet-name>
        <jsp-file>/WEB-INF/pages/prescriptions.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>prescriptions</servlet-name>
        <url-pattern>/prescriptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>prescription</servlet-name>
        <jsp-file>/WEB-INF/pages/prescription.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>prescription</servlet-name>
        <url-pattern>/prescription</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthorizationPage</servlet-name>
        <jsp-file>/WEB-INF/pages/authorization.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationPage</servlet-name>
        <url-pattern>/authorization.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>request</servlet-name>
        <jsp-file>/WEB-INF/pages/request.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/main.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>settings</servlet-name>
        <jsp-file>/WEB-INF/pages/settings.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>settings</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>drugs</servlet-name>
        <jsp-file>/WEB-INF/pages/drugs.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>drugs</servlet-name>
        <url-pattern>/drugs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>drug</servlet-name>
        <jsp-file>/WEB-INF/pages/drug.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>drug</servlet-name>
        <url-pattern>/drug</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>drug-details</servlet-name>
        <jsp-file>/WEB-INF/pages/drug-description.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>drug-details</servlet-name>
        <url-pattern>/drug-details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doctors</servlet-name>
        <jsp-file>/WEB-INF/pages/doctors.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>doctors</servlet-name>
        <url-pattern>/doctors</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doctor</servlet-name>
        <jsp-file>/WEB-INF/pages/doctor.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>doctor</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doctor-description</servlet-name>
        <jsp-file>/WEB-INF/pages/doctor-description.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>doctor-description</servlet-name>
        <url-pattern>/doctor-description</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orders</servlet-name>
        <jsp-file>/WEB-INF/pages/orders.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>orders</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>order</servlet-name>
        <jsp-file>/WEB-INF/pages/order.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>messages</servlet-name>
        <jsp-file>/WEB-INF/pages/messages.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>messages</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>message</servlet-name>
        <jsp-file>/WEB-INF/pages/message.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/error/404.html</location>
    </error-page>
    <error-page>
        <exception-type>by.training.online_pharmacy.service.exception.InternalServerException</exception-type>
        <location>/WEB-INF/pages/error/500.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/WEB-INF/pages/error/500.html</location>
    </error-page>
    <listener>
        <listener-class>by.training.online_pharmacy.controller.listener.ContextCreateListener</listener-class>
    </listener>
    <error-page>
        <exception-type>by.training.online_pharmacy.controller.listener.exception.InternalServerException</exception-type>
        <location>/WEB-INF/pages/error/500.html</location>
    </error-page>

</web-app>