
.brand-logo{
    float: left;
    height: 60px;
    line-height: 80px;
    font-size: 30px;
    color: azure;
    font-family: 'Oswald Regular',Tahoma,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
}

.name{
    height: 60px;
    line-height: 80px;
    font-size: 30px;
    color: azure;
    font-family: 'Oswald Regular',Tahoma,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
}

.error-message {
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.image-logo{
    border: 3px solid azure;
    border-radius: 100%;
}

.content{
    padding-top: 80px;
}

body{
    background: #DCDCDC;
}

.img-responsive-height
{
    display: block;
    width: auto;
    max-height: 100%
}

.drug-block{
    height: 60px;
}


.navbar-toggle {
    float: left;
    margin-left: 15px;
}

div.wrapper {
    width:450px;
}

div.left_block {
    float:left;
    width:200px;
}

div.right_block {
    float:right;
    width:200px;
}

.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}
.border-between > [class*='col-']:first-child:before {
    display: none;
}

@media (max-width:1006px)
{ .name{display:none;} }

@media (max-width:1548px){
    .content{
        padding-top: 140px;
    }
}

@media (max-width:768px){
    .content{
        padding-top: 80px;
    }
}

.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    left: -35px;
}

.navbar {
    min-height: 60px;
}

#dr_class_select, #drug_manufacturer_s{
    width: 205px;
}

/** { padding: 0px; margin: 0px; font-family: 'Calibri', serif; font-size: 1em;}*/
/*#feedback { position: absolute; left: 22%; bottom: 120px; top:40px; background: #FF0; width: 250px; border-radius: 5px; box-shadow: 0px 0px 3px 2px rgba(0,0,0,.5);}*/
/*#feedback div {text-align: center; cursor: pointer; padding: 2px;}*/
/*#feedback ul { padding: 0px 10px 5px 10px; list-style: none; }*/
/*#feedback li { margin-bottom: 5px; }*/
/*#feedback input { display: block; width: 225px; }*/
/*#feedback a { background: #999; color: #000; border-radius: 5px; padding: 0px 5px; text-decoration: none; transition: background 0.3s 0s;}*/
/*#feedback a:hover { background: #333; color: #fff; }*/
/*#feedback .last { text-align: right; }*/
/*#feedback {*/
    /*height: 24px;*/
    /*transition: all 0.3s;*/
    /*overflow: hidden;*/
    /*margin-top: 0;*/
/*}*/

/*#toggler_call:checked + #feedback {*/
    /*height: 600px;*/
    /*bottom: 32px;*/
/*}*/

/*#toggler_call{display: none};*/
